.col-md-6{
}
#div1{
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 15px;
    border-color: black;
    height:350px;
}
#div2{
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 15px;
    border-color: black;
    height:650px;
    width:90%;
    align:center;
}